.app-root {
    height: 100vh;
    display: flex;
    flex-direction: column
}

.layout {
    display: flex;
    flex: 1
}
.side {
    min-height: 100vh;
    color: black;
    padding: 16px;
    background-color: lightgray;
}

.top {
    background: var(--primary-color);
    color: black;
    background-color: lightgray;
}

.brand img {
    background: var(--primary-color);
    color: white;
}

.main {
    flex: 1;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 16px;
}

nav a {
    display: block;
    color: inherit;
    margin: 6px 0;
    text-decoration: none;
}

header nav a {
    display: inline-block;
    margin-right: 12px;
}