<div class="app-root" [ngClass]="tenant?.layout">
	<nav *ngIf="tenant?.layout==='top' && auth.isLoggedIn()" class="navbar navbar-expand navbar-dark" [style.background]="'var(--primary-color)'">
		<div class="container-fluid">
			<a class="navbar-brand d-flex align-items-center" href="#">
				<img *ngIf="tenant?.logo" [src]="tenant?.logo" alt="logo" style="height:32px;" />
				<span class="ms-2">{{tenant?.name}}</span>
			</a>
			<div style="display: inline-flex !important;align-items: baseline;" class="d-flex">
				<a class="nav-link me-2" [routerLink]="['/', tenant?.id || 'tenant1', 'dashboard']">Dashboard</a>
				<a *ngIf="auth.hasRole('Admin')" class="nav-link  me-2" [routerLink]="['/', tenant?.id || 'tenant1', 'admin']">Admin</a>
                <button style="margin-right: 10px;" class="btn btn-sm btn-outline-light mb-2" (click)="toggleTheme()">
                    <img src="assets/dark-theme-svgrepo-com.svg" alt="theme" style="height:16px;" class="me-1" />
                    {{ theme==='secondary' ? 'Primary' : 'Secondary' }}</button>
				<button *ngIf="auth.isLoggedIn()" class="btn btn-outline-light btn-sm d-flex align-items-center" (click)="logout()">
				  Logout
				</button>
			</div>
		</div>
	</nav>

	<div class="layout">
		<aside *ngIf="tenant?.layout==='side' && auth.isLoggedIn()" class="side d-flex flex-column" [style.background]="'var(--primary-color)'">
			<div class="p-3 d-flex align-items-center">
				<img *ngIf="tenant?.logo" [src]="tenant?.logo" alt="logo" style="height:36px;" />
				<div class="ms-2">{{tenant?.name}}</div>
			</div>
			<nav class="nav flex-column p-2">
				<a class="nav-link " [routerLink]="['/', tenant?.id || 'tenant1', 'dashboard']">Dashboard</a>
				<a *ngIf="auth.hasRole('Admin')" class="nav-link " [routerLink]="['/', tenant?.id || 'tenant1', 'admin']">Admin</a>
			</nav>
			<div class="mt-auto p-3 d-flex flex-column">
				<button class="btn btn-sm btn-outline-light mb-2" (click)="toggleTheme()">
                    <img src="assets/dark-theme-svgrepo-com.svg" alt="theme" style="height:16px;" class="me-1" />
                    {{ theme==='secondary' ? 'Primary' : 'Secondary' }}</button>
				<button *ngIf="auth.isLoggedIn()" class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>
			</div>
		</aside>

		<main class="main container-fluid p-4">
			<router-outlet></router-outlet>
		</main>
	</div>
</div>


